<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
	<add name="db" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\IDB_Course\Core_Course\Project\ADO.NET\Course_Management_Project\Course_Management\CourseManagement.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>